<!-- header -->
<header id="navbar_top" class="main-header text-center">
  <nav class="navbar navbar-expand-lg navbar-dark py-2">
    <a class="navbar-brand text-center" href="/"><i class="fab fa-pied-piper"></i> Medicure</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/contact">Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/users/login">User</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/ngos/login">NGO</a>
        </li>
        <button class="btn btn-light main-header-button mx-2" onclick="location.href='/users/login';">Make a Donation</a></button>
      </ul>
    </div>
  </nav>
</header>
<!-- header -->

<!-- bradcam_area -->
<div
  class="
    bradcam_area
    breadcam_bg
    overlay
    d-flex
    align-items-center
    justify-content-center
  "
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>About Us</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bradcam_area -->

<!-- reson_area -->
<div class="reson_area section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb-55">
          <h3><span>Here We Are!</span></h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single_reson">
          <div class="thum">
            <div class="thum_1">
              <img src="img/help/1.png" alt="" />
            </div>
          </div>
          <div class="help_content">
            <h4>Why Medicine Donation?</h4>
            <p>
              Our health is a fundamental part of being human. Report shows,
              nearly 2 billion people have no access to basic medicines, causing
              cascade of misery and suffering
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_reson">
          <div class="thum">
            <div class="thum_1">
              <img src="img/help/2.png" alt="" />
            </div>
          </div>
          <div class="help_content">
            <h4>Our Vision</h4>
            <p>
              Our medicine donation portal drives the future of healthcare by
              connecting people with surplus medications. Our system is build to
              give a helping hand to those who need it!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_reson">
          <div class="thum">
            <div class="thum_1">
              <img src="img/help/3.png" alt="" />
            </div>
          </div>
          <div class="help_content">
            <h4>Join Us</h4>
            <p>
              You can join us easily to become a part of the impact. You can
              donate your unused medicines by registering yourself & filling the
              donation form. You can serve the cause by getting started
              <a href="/users/login">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- reson_area -->
