<!-- header -->
<header id="navbar_top" class="main-header text-center">
  <nav class="navbar navbar-expand-lg navbar-dark py-2">
    <a class="navbar-brand text-center" href="/"><i class="fab fa-pied-piper"></i> Medicure</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/about">About</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/contact">Contact</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/users/login">User</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link dark-hover" href="/ngos/login">NGO</a>
        </li>
        <button class="btn btn-light main-header-button mx-2" onclick="location.href='/users/login';">Make a Donation</a></button>
      </ul>
    </div>
  </nav>
</header>
<!-- header -->

<!-- slider_area -->
<div class="slider_area">
  <div class="single_slider d-flex align-items-center slider_bg_1 overlay2">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="slider_text">
            <span>Get Started Today</span>
            <h3>Support a cause you care about</h3>
            <p>
              Welcome to Medicure Community<br />
              You can donate your Unused Medicines here!
            </p>
            <a href="/about" class="boxed-btn3">Learn More </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider_area -->

<!-- counter_area -->
<div class="counter_area my-5">
  <div class="container">
    <div class="counter_bg overlay">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-lg-4 col-md-8">
          <div
            class="
              single_counter
              d-flex
              align-items-center
              justify-content-center
            "
          >
            <div class="icon">
              <i class="fas fa-capsules"></i>
            </div>
            <div class="events">
              <h3 class="counter">120</h3>
              <p>Medicines Donated</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- counter_area -->
